{% extends "base.html" %}

{% block title %}Lista de Ingredientes{% endblock %}

{% block content %}
<h2>Ingredientes</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Calorías</th>
            <th>Inventario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for ingrediente in ingredientes %}
        <tr>
            <td>{{ ingrediente.id }}</td>
            <td>{{ ingrediente.nombre }}</td>
            <td>{{ ingrediente.calorias }}</td>
            <td>{{ ingrediente.inventario }}</td>
            <td>
                <a href="{{ url_for('heladeria.pagina_reabastecer_ingrediente', id=ingrediente.id) }}">Reabastecer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
